@font-face {
    font-family: 'byekan';
    src: url('fonts/BYekan/BYekan+.ttf');
    src: url('fonts/BYekan/BYekan+\ Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'btitr';
    src: url('fonts/B-Titr/B\ Titr\ Bold_0.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'byekan';
    box-sizing: border-box;
    background-color: #4755;
}
.TextSuccess{
    color: green;
    display: none;
    padding: 10px 390px 10px 20px;
    margin: 0 auto;
    text-align: center;
    width: px;
    height: 40px;
    margin: 0 auto;
    text-align: center;
}

.TextError{
    color: #cc4444;
    display: none;
    padding: 10px 300px 10px 20px;
    margin: 0 auto;
    text-align: center;
}

.TextAttention{
    color: #cc4444;
    display: none;
    padding: 10px 300px 10px 20px;
    margin: 0 auto;
    text-align: center;
}

.main{
    height: 200px;
    width: 1389px;
}

.container{
    height: 200px;
    width: 100%;
    background-color: #48cae4;
    border-radius: 10px;
    padding: 100px 300px 20px 40px;

}

.titrText{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    padding: 10px 400px ;
    color: #6c757d;
}

.detailTitrText{
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    padding: 10px 400px ;
}

.form{
    border: 2px solid red;
    color: #003049;
    border-radius: 10px;
    border-color: #ced4da;
    height: 300px;
    width: 1120px;
    padding: 20px 600px 20px 10px;
    background-color: #ade8f4;
}

.labelText{
    color: #6c757d;
    font-style: normal;
    font-size: 16px;
    text-underline-position: inherit;
}

.formInputForget{
    width: 480px;
    height: 52px;
    border-radius: 10px;
    border-color: #adb5bd;
    margin: 0 auto;
    border: 2px solid #adb5bd;
    color: #6c757d;
    font-size: 16px;
}

.formInputForget:focus{
    border-color: #8ecae6;
    background-color: aliceblue;
    color: rgb(10, 0, 0);
    font-weight: 400;
}

.formInputForget:hover{
    border-color: #8ecae6;
    background-color: aliceblue;
    color: rgb(10, 0, 0);
    font-weight: 400;
}

.formButton{
    border-color: #0077b6;
    color: white;
    width: 170px;
    height: 42px;
    box-shadow: 20px;
    color-shadow: blur;
    background-color: #0077b6; 
    font-weight: 500;
    font-family: 'byekan';
    font-size: 16px;
    border-radius: 6px;

}
.formButton:hover{
    cursor: pointer;
    box-shadow: border-box;
    text-shadow: rgb(23, 0, 0);
}